<mat-toolbar>
  <div class="uppercase text-3xl font-semibold w-1/5 max-[1000px]:w-4/5">
    <a routerLink=""><span class="on-hover">logo</span></a>
  </div>
  <div class="w-3/5 menu" [style.display]="menuIsOpen">
    <div
      class="uppercase text-3xl font-semibold close-menu"
      (click)="openMenu('none')"
    >
      X
    </div>
    <ol class="flex justify-center grow max-[1000px]:flex-col">
      <li
        class="px-8 tracking-widest max-[1000px]:m-8"
        *ngFor="let option of menuOptions"
      >
        <a [routerLink]="option.name" (click)="closeMenu()">
          {{ option.name }}
        </a>
        <ul>
          <li *ngFor="let suboption of option.submenu">
            <a [routerLink]="suboption.path" (click)="closeMenu()">{{
              suboption.name
            }}</a>
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="flex w-1/5 relative max-[1000px]:w-2/5">
    <div class="flex px-6 max-[1000px]:px-3 on-hover" (click)="openLoginForm()">
      <mat-icon fontIcon="person" class="mr-2"></mat-icon>
      <p class="tracking-widest menu-icon-text">Account</p>
    </div>
    <div
      *ngIf="loginFormIsOpen === true"
      class="absolute mt-[2.5rem] p-[1rem] bg-primaryColor z-[100] top-0 left-0 max-[1000px]:left-[-80%] rounded-[10px]"
    >
      <form
        *ngIf="userLogged === false"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitLogin()"
        class="flex flex-col"
      >
        <p class="mb-2">Have you account? Login now</p>
        <input
          class="login-input"
          type="text"
          placeholder="Login"
          formControlName="login"
        />
        <input
          class="login-input"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <button type="submit" class="login-input hover:cursor-pointer">
          Log in
        </button>
      </form>

      <div *ngIf="userLogged === true" class="text-center">
        <img
          [src]="userPhoto"
          alt="avatar"
          class="w-[150px] h-[150px] rounded-full avatar"
        />
        <div class="text-center m-2">Hello {{ userName }}</div>
        <div
          class="flex justify-between p-2 hover:bg-thirdColor rounded-[10px] transition-all duration-300 cursor-pointer" [routerLink]="['/orders']"
        >
          <p>Your orders</p>
          <mat-icon fontIcon="shopping_bag" class="ml-2"></mat-icon>
        </div>
        <div
          class="flex justify-between p-2 hover:bg-thirdColor rounded-[10px] transition-all duration-300 cursor-pointer" [routerLink]="['/favourites-component']"
        >
          <p>Favourites</p>
          <mat-icon fontIcon="favorite" class="ml-2"></mat-icon>
        </div>
        <div
          class="flex justify-between p-2 hover:bg-thirdColor rounded-[10px] transition-all duration-300 cursor-pointer"
        >
          <p>Settings</p>
          <mat-icon fontIcon="settings" class="ml-2"></mat-icon>
        </div>
        <div
          class="flex justify-between p-2 hover:bg-thirdColor rounded-[10px] transition-all duration-300 cursor-pointer" (click)="logout()"
        >
          <p>Logout</p>
        </div>
      </div>
    </div>
    <div class="flex px-6 max-[1000px]:px-3 on-hover" (click)="openCart()">
      <div *ngIf="sumProducts() != 0">{{ sumProducts() }}</div>
      <mat-icon fontIcon="shopping_cart" class="mr-2 relative"></mat-icon>
      <p class="tracking-widest menu-icon-text">Cart</p>
    </div>
    <div
      *ngIf="cartIsOpen === true"
      class="absolute mt-[2.5rem] p-[1rem] bg-primaryColor z-10 top-0 right-10 rounded-[10px] max-[1000px]:w-[200%]"
    >
      <div *ngFor="let i of basket" class="grid grid-cols-3">
        <div class="truncate">{{ i.name }}</div>
        <div class="w-[10%]"> x {{ i.quantity }}</div>
        <div class="w-[30%]">{{ i.price | currency }}</div>
      </div>
      <div *ngIf="cost() != 0" class="flex w-full py-2">
        <div class="w-[67%]">Sum:</div>
        <div class="font-bold">{{ cost() | currency }}</div>
      </div>
      <button *ngIf="basket.length > 0" [routerLink]="['/cart-component']" class="rounded-lg bg-primaryColor text-secondaryColor p-3 flex on-hover h-[50px] my-2 mx-auto">Go to cart</button>
      <div *ngIf="basket.length === 0">Cart is empty</div>
    </div>
    <div class="hamburger-icon max-[1000px]:px-3 on-hover">
      <mat-icon fontIcon="menu" (click)="openMenu('block')"></mat-icon>
    </div>

  </div>
</mat-toolbar>
