.newsletter-email-input{
    background: none;
    transition: all .3s ease-in-out;
}
.newsletter-checkbox:checked {
    background: url(/assets/img/checked.svg);
  }
  
  @media only screen and (max-width: 1000px){

}
