<div class="w-full h-[300px] bg-newsletter bg-fixed bg-cover relative text-secondaryColor">
    <div class="absolute w-full h-full bg-[#212529e6] text-center text-[3rem]">
        <p class="mt-[40px] tracking-[.4rem]">Join to newsletter and get <b>10% discount</b></p>
        <form class="mt-[20px]">
            <div class="flex justify-center gap-[20px] align-middle">
                <input type="email" placeholder="email" class="w-[40%] h-[50px] text-[2rem] tracking-[.4rem] rounded-[10px] text-secondaryColor outline outline-2 outline-secondaryColor pl-2 newsletter-email-input">
                <input type="submit" value="Submit" class="">
            </div>
        </form>
    </div>
</div>
