<div class="w-[80%] max-[1000px]:w-full mx-auto flex justify-evenly mt-8">

    <div>bbb</div>
    <div>ccc</div>
    <div>ddd</div>
</div>
<div class="w-[1000px] max-[1000px]:w-full mx-auto grid grid-cols-3 max-[1000px]:grid-cols-1 mt-8">
    <div class="w-[300px] h-[400px] rounded-lg bg-primaryColor mx-auto mb-6">
        <div class="rounded-lg h-[250px]">
            <img src="./assets/img/lookbook-women.jpg" alt="" class="rounded-lg h-[250px] w-full object-cover">
        </div>
        <h1 class="text-secondaryColor text-center">Name</h1>
    </div>
    <div class="w-[300px] h-[400px] rounded-lg bg-primaryColor mx-auto mb-6">
        <div class="rounded-lg h-[250px]">
            <img src="./assets/img/lookbook-women.jpg" alt="" class="rounded-lg h-[250px] w-full object-cover">
        </div>
        <h1 class="text-secondaryColor text-center">Name</h1>
    </div>
    <div class="w-[300px] h-[400px] rounded-lg bg-primaryColor mx-auto mb-6">
        <div class="rounded-lg h-[250px]">
            <img src="./assets/img/lookbook-women.jpg" alt="" class="rounded-lg h-[250px] w-full object-cover">
        </div>
        <h1 class="text-secondaryColor text-center">Name</h1>
    </div>

</div>
